/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

/****** Header ***********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.header img {
    width: 60px;
    height: 20px;
}

.menu a {
    font-size: 18px;
    color: black;
    padding: 21px 20px 0 10px;
}

.menu a:hover {
    color: #0065FC;
}

.text-1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-2 {
    font-size: 16px;
    margin-top: 0;
}

.search-bar {
    display: flex;
    margin: 30px 0 30px 0;
}

.search-bar i {
    font-size: 16px;
    border: 1px solid #f2f2f2;
    border-radius: 12px 0 0 12px;
    background-color: #f2f2f2;
    padding: 16px 18px 10px 18px;
}

.search-bar input {
    width: 185px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
}

.search-bar input::placeholder {
    color: black;
    padding-left: 15px;
}

.search-bar form {
    display: contents;
}

.search-bar .button-desktop {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 12px 12px 0;
    padding: 8px;
}

.search-bar .button-mobil {
    visibility: hidden;
}

.filters {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filters p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.filters ul  {
    height: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
}

.filters li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #d9d9d9;
    border-radius: 50px 50px 50px 50px;
    margin: 0 0 0 20px;
    padding: 2px 16px 2px 6px;
}

.filters ul li:hover {
    background-color: #DEEBFF;
}

.filters ul i {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: #0065FC;
    padding: 11px 10px 11px 10px;
}

.logoinfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0 15px 0;
}

.logoinfo i {
    font-size: 11px;
    width: 12px;
    height: 15px;
    color: #0065FC;
    border: 1.5px solid #d9d9d9;
    border-radius: 15px;
    margin-right: 10px;
    padding-left: 9px;
    padding-top: 4px;
}

.logoinfo p {
    font-size: 14px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    /* padding: 30px; */
    box-sizing: border-box;
}



/****** Hebergements ***********/
.hebergements {
    display: flex;
    width: 65%;
    flex-direction: column;
}

#hebergements {
    margin: 30px 0 15px 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.hebergements-cards .card {
    display: inline-block;
    margin: 15px;
    width: 230px;
    box-shadow: 1px 3px 17px 0px #d9d9d9;
}

.hebergements-cards .card-image {
    height: 120px;
    position: relative;
}

.hebergements-cards img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 5px;
}

.txt {
    margin: 15px 0 0 30px;
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin: 30px 0;
    box-shadow: 1px 3px 17px 0px #d9d9d9;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#activites {
    margin: 50px 0 30px 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.activites-cards .card {
    display: inline-block;
    margin: 15px;
    width: 298px;
    padding: 0;
    height: 410px;
    box-shadow: 1px 3px 17px 0px #d9d9d9;}

.activites-cards img {
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0 0;
    
}

.activites-cards .card-title {
    margin-left: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}